*{
  padding: 0;
  margin: 0;
}

body{
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.contanier{
  display: flex;
}

header{
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

header img{
  display: inline-block;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
}

nav{
  display: inline-block;
  margin-left: 960px;
  margin-top: 20px;
}

nav span{
  text-decoration: underline;
  padding: 0 10px;
}

#main{
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.content{
  display: flex;

}
